* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#landing .navbar {
  background-color: #8b0000 !important;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

#landing .navbar-collapse {
  flex-grow: 0 !important;
}

#landing nav h1 {
  font-size: 38px;
  color: aqua;
}

#landing nav span {
  color: #f7c324;
}

#landing nav .navbar-nav .nav-link {
  color: #ffff;
  margin: 0px 10px;
}

#landing nav .navbar-nav .nav-link:hover {
  color: rgb(255, 208, 0);
  scale: 1.1;
}

#landingHome {
  height: 88.1vh;
  background-image: url("../image/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#landingHome .text-landing h1 {
  color: #8b0000;
  font-size: 4rem;
  font-weight: 700;
}

#landingHome .text-landing blockquote {
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

#login {
  height: 88vh;
  background-image: url("../image/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#login .card-login {
  background-color: #8b0000;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  padding: 30px;
  box-shadow: -3px 4px 26px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 4px 26px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 4px 26px 0px rgba(0, 0, 0, 0.75);
}

#login .login-header {
  text-align: center;
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 500;
}

#login .login-des {
  color: #fff;
  font-weight: 100;
}

#about {
  height: 87vh;
  background-color: #f5f5f5;
}

#about img {
  max-width: 90%;
}

#about h1 {
  color: #8b0000;
  font-weight: 700;
}

#about p {
  width: 90%;
  font-size: 23px;
}

.invalid-feedback {
  color: white;
}

#about p {
  width: 90%;
  font-size: 23px;
}

#blog {
  height: 87vh;
}

#contact {
  height: 87vh;
  background-color: #f5f5f5;
}

#authlog span.invalid-feedback {
  color: white !important;
}

.card-image-modify {
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  overflow: hidden;
}

#read-blog .card{
    margin-top: 40px;
}

#read-blog img
{
    max-height: 400px;
}


@media only screen and (max-width: 623px) {
    section {
        height: 100% !important;
        padding: 50px 10px !important;
        display: flex;
        flex-direction: column;
    }

    h1{
        text-align: center;
        font-size: 30px !important;
    }
    p{
        text-align: center;
        font-size: 20px !important;
    }
    blockquote{
        text-align: center;
        font-size: 20px !important;
    }
}
